body {
    background-color: lightgrey;
}

.calculator {
    width: 40%;
    max-width: 470px;
    margin: 200px auto;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(7, 100px);
    justify-content: center;
}

.result {
    grid-column: 1/5;
    border: white;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ac {
    grid-column: 1/3;
    background-color: lightseagreen;
}

.del {
    grid-column: 3/5;
    background-color: lightseagreen;
}

.equals {
    grid-row: 5/8;
    grid-column: 4;
    background-color: lightseagreen;
}

.calculator>* {
    border: 1px solid white;
    font-size: 30px;
}

.operator,
.square {
    background-color: cyan;
}

.number {
    background-color: lightcyan;
}